<li>
    <span class="content"><%= wrap(micropost.content) %></span>
    <span class="timespamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>
    <% if current_user?(micropost.user) %>
        <%= render partial: 'shared/micropost_delete_link', locals: { object: micropost } %>
    <% end %>
</li>